.line-on-text {
    text-decoration: line-through;
}

.black-text {
    color: black;
}

.black-icon {
    color: black;
}

.footer-button {
    width: 26px;
    height: 26px;

    border-radius: 4px;
}

.footer-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.footer-text {
    margin-top: 4px;
}
